In [15]:
import pandas as pd

In [16]:
concentrations = pd.read_csv('http://stepik.org/media/attachments/course/4852/algae.csv')

In [17]:
concentrations

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886
5,Cladophora_compacta,Cladophora,green,5.712284,3.461692,3.082826,3.343707,1.432514
6,Cladophora_gracilis,Cladophora,green,2.452623,6.881024,5.841520,2.740165,2.829016
7,Palmaria_palmata,Palmaria,red,0.704580,3.176440,5.573905,3.242090,2.245538
8,Saccharina_latissima,Saccharina,brown,1.636122,5.793163,1.071920,3.947968,4.817804
9,Ascophyllum_nodosum,Ascophyllum,brown,6.825467,0.875429,5.253527,3.414961,2.432526

In [60]:
concentrations.pivot_table(values=['sucrose', 'alanin', 'citrate', 'glucose', 'oleic_acid'], columns='genus', aggfunc='mean')

genus       Ascophyllum  Cladophora     Fucus  Palmaria  Saccharina
alanin         0.875429    3.997055  3.566411  3.176440    3.524207
citrate        5.253527    5.288311  4.214878  5.573905    3.346710
glucose        3.414961    2.800276  2.814803  3.242090    4.980594
oleic_acid     2.432526    2.263472  3.367647  2.245538    4.487252
sucrose        6.825467    4.008792  4.355112  0.704580    4.183596

In [62]:
mean_concentrations = concentrations.groupby('genus')[['sucrose', 'alanin', 'citrate', 'glucose', 'oleic_acid']].mean()

In [63]:
mean_concentrations

              sucrose    alanin   citrate   glucose  oleic_acid
genus
Ascophyllum  6.825467  0.875429  5.253527  3.414961    2.432526
Cladophora   4.008792  3.997055  5.288311  2.800276    2.263472
Fucus        4.355112  3.566411  4.214878  2.814803    3.367647
Palmaria     0.704580  3.176440  5.573905  3.242090    2.245538
Saccharina   4.183596  3.524207  3.346710  4.980594    4.487252